In [81]:
import pandas as pd
import numpy as np
import datetime as dt

In [82]:
# load data
data = pd.read_csv('user_play_detail.csv')

In [83]:
data.head()

,device_id,os,appver,log_time,duration,source,song_id,action
0,O21747461S,android,5.4.0,1533087870,160,DailyRecommends,84239,play
1,P96798826F,android,5.4.0,1533066447,7,PersonalFM,47567,play
2,P96798826F,android,5.4.0,1533131566,149,UserCreatedList,38224,play
3,L59138887N,web,NaN,1533130349,10,UserLikeList,43701,play
4,R88622339P,android,5.4.0,1533120843,177,RecommendedList,87100,play

In [88]:
# count no. of na 
data.isna().sum()

device_id    0
os           0
appver       2
log_time     0
duration     0
source       0
song_id      0
action       0
dtype: int64

In [85]:
data.isna().sum()/len(data)

device_id    0.00
os           0.00
appver       0.01
log_time     0.00
duration     0.00
source       0.00
song_id      0.00
action       0.00
dtype: float64

In [86]:
# drop na value
data.dropna(subset =['log_time'],inplace = True)

In [87]:
# replace na value
data.fillna('unkonwn')

,device_id,os,appver,log_time,duration,source,song_id,action
0,O21747461S,android,5.4.0,1533087870,160,DailyRecommends,84239,play
1,P96798826F,android,5.4.0,1533066447,7,PersonalFM,47567,play
2,P96798826F,android,5.4.0,1533131566,149,UserCreatedList,38224,play
3,L59138887N,web,unkonwn,1533130349,10,UserLikeList,43701,play
4,R88622339P,android,5.4.0,1533120843,177,RecommendedList,87100,play
...,...,...,...,...,...,...,...,...
195,C28878066V,android,5.3.1,1533073193,101,RecentlyPlayed,41330,play
196,H82761540Q,android,5.4.0,1533090530,98,UserLikeList,52919,play
197,J87607469Z,android,5.4.0,1533063274,49,RecommendedList,30758,play
198,O79900961J,iphone,5.4.0,1533098261,13,RecommendedList,20786,play
199,H20187554E,pc,2.4.0.196505,1533094690,108,UserLikeList,22937,play

In [91]:
# count duplicated rows
data.duplicated(['device_id','log_time','song_id']).sum()

0

In [90]:
# drop duplicated rows
data.drop_duplicates(subset=['device_id','log_time','song_id'],inplace=True)

In [92]:
# convert timestamp to date

pd.to_datetime(data['log_time'],unit='s')

0     2018-08-01 01:44:30
1     2018-07-31 19:47:27
2     2018-08-01 13:52:46
3     2018-08-01 13:32:29
4     2018-08-01 10:54:03
              ...
195   2018-07-31 21:39:53
196   2018-08-01 02:28:50
197   2018-07-31 18:54:34
198   2018-08-01 04:37:41
199   2018-08-01 03:38:10
Name: log_time, Length: 199, dtype: datetime64[ns]

In [93]:
# convert timestamp to date with specified format

pd.to_datetime(data['log_time'],unit='s').dt.strftime('%Y-%m-%d')

0      2018-08-01
1      2018-07-31
2      2018-08-01
3      2018-08-01
4      2018-08-01
          ...
195    2018-07-31
196    2018-08-01
197    2018-07-31
198    2018-08-01
199    2018-08-01
Name: log_time, Length: 199, dtype: object

In [96]:
# add dt column
data['dt'] = pd.to_datetime(data['log_time'],unit='s').dt.strftime('%Y-%m-%d')

In [97]:
subset = data.loc[:,['dt','log_time']]
subset.head()

           dt    log_time
0  2018-08-01  1533087870
1  2018-07-31  1533066447
2  2018-08-01  1533131566
3  2018-08-01  1533130349
4  2018-08-01  1533120843

In [98]:
max(data['duration'])

28000

In [99]:
data.drop(data[data.duration > 1000].index, inplace=True)

In [100]:
data.to_csv("user_play_detail_clean.csv")