In [90]:
import pandas as pd
import numpy as np
import datetime as dt

In [110]:
# load data
data = pd.read_csv('user_play_detail.csv')

In [111]:
data.head()

,device_id,os,appver,log_time,duration,source,song_id,action
0,O21747461S,android,5.4.0,1533087870,160,DailyRecommends,84239,play
1,P96798826F,android,5.4.0,1533066447,7,PersonalFM,47567,play
2,P96798826F,android,5.4.0,1533131566,149,UserCreatedList,38224,play
3,L59138887N,web,NaN,1533130349,13330,UserLikeList,43701,play
4,R88622339P,android,5.4.0,1533120843,177,RecommendedList,87100,play

In [105]:
data.columns

Index(['device_id', 'os', 'appver', 'log_time', 'duration', 'source',
       'song_id', 'action'],
      dtype='object')

In [106]:
data.isna().sum()

device_id    0
os           0
appver       2
log_time     0
duration     0
source       0
song_id      0
action       0
dtype: int64

In [ ]:
# drop na value

# data.dropna(subset =['appver'],inplace = True)

In [95]:
# convert timestamp to date

pd.to_datetime(data['log_time'],unit='s')
# pd.to_datetime(data['log_time'],unit='s').dt.strftime('%Y-%m-%d')

0      2018-08-01
1      2018-07-31
2      2018-08-01
3      2018-08-01
4      2018-08-01
          ...
195    2018-07-31
196    2018-08-01
197    2018-07-31
198    2018-08-01
199    2018-08-01
Name: log_time, Length: 200, dtype: object

In [92]:
# add dt column
data['dt'] = pd.to_datetime(data['log_time'],unit='s')

In [75]:
subset = data.loc[:,['dt','log_time']]
subset.head()

                   dt    log_time
0 2018-08-01 01:44:30  1533087870
1 2018-07-31 19:47:27  1533066447
2 2018-08-01 13:52:46  1533131566
3 2018-08-01 13:32:29  1533130349
4 2018-08-01 10:54:03  1533120843

In [107]:
android = data[data.os == 'android']
iphone = data[data.os == 'iphone']

In [48]:
np.median(android.duration)
np.median(iphone.duration)

53.5

In [50]:
np.mean(iphone.duration)
np.mean(android.duration)

104.15178571428571

In [108]:
max(android.duration)

207

In [109]:
max(iphone.duration)

204